:root{
    background: rgb(5, 5, 5);
}
a{
    color: whitesmoke;
    text-decoration: none;    
}

.header_box{
    border-bottom: solid white 1px;
}
#header{
    border-bottom: solid white 1px;
}
#small_header{
    border-bottom: solid white 1px;
}
h1{
    color:azure;
    font-size:60px; text-align:center;
    margin:0;
    padding:20px;
}

body{
    margin:10;   
}

ul{
    list-style: none;
    padding: 0px;
}
nav ul li{
    display:inline;
}
.nav_list{
    font-size:30px; text-align:center;
}

section{
    color: aliceblue;
}
#Home{
    box-sizing: border-box;
    border: none; 
    padding:20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#Home_title{
    text-align: center;
}
#Home_section{
    margin-left:7%;
    text-align: center;
    align-self: center;
    font-size: 15px;
    line-height: 150%;
    margin-top: 70px;
}
#picture{
    width: 200px;
    height: 250px;
    border: solid white 1px;
}
#gotohome{
    border: none;
    color: rgb(0, 255, 242);
    font-size: 15px;
    position:sticky;
    left:90%;
}
img{
    width:100%;
    height: 100%;
}

@media(min-width:650px){
    #small_header{
        display:none;
    }
}
@media(max-width:650px){
    #header{
        display:none;
    }
}
